<div class="bg-white shadow rounded-lg p-4 mb-4">
  <!-- Cabecera -->
  <div class="flex justify-between items-center mb-2">
    <h3 class="text-lg font-semibold">{{ task.title }}</h3>
<span class="truncate">
      @if (task.dueTime) {
        {{ task.dueTime | date:'dd/MM/yyyy' }}
      } @else {
        Sin fecha
      }
    </span>

    <span class="truncate">
      {{ task.dueTime | remainingDays }}
    </span>
    @switch (task.taskType) {
      @case ('Simple') {
        <span class="px-2 py-1 text-xs font-semibold bg-blue-600 text-white rounded">Simple</span>
      }
      @case ('Recurrente') {
        <span class="px-2 py-1 text-xs font-semibold bg-gray-600 text-white rounded"
          >Recurrente</span
        >
      }
      @default {
        <span class="px-2 py-1 text-xs font-semibold bg-gray-600 text-white rounded"
          >Sin Determinar</span
        >
      }
    }
  </div>

  <!-- Metadatos -->
  <div class="flex justify-between items-center text-sm text-gray-500">
    <span>{{ task.userName }}</span>

    @if (task.dueTime) {
      <span lass="rounded-full bg-green-400 px-3 py-1 text-xs font-medium text-white">{{ task.dueTime }}</span>
    }
  </div>

  <p class="line-clamp-3 text-sm text-gray-600">
      {{ task.taskDescription }}
    </p>

  <!-- Footer -->
  <div class="flex justify-between items-center mt-4">
    @if (task.isCompleted) {
      <span class="px-2 py-1 text-xs font-semibold bg-green-600 text-white rounded"
        >Completada</span
      >
    }
    @else {
      <span class="px-2 py-1 text-xs font-semibold bg-yellow-400 text-gray-800 rounded"
        >Pendiente</span
      >
    }

    <div class="flex gap-2">
      <button (click)="onCompleteTask()"
        class="px-3 py-1 text-sm bg-green-600 text-white rounded disabled:opacity-50"
        [disabled]="task.isCompleted">Completar</button>
      <button (click)="onDeleteTask()" class="px-3 py-1 text-sm bg-red-600 text-white rounded">Eliminar</button>
    </div>
  </div>
</div>
